$bp-tablet: 42em;

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-tablet) {
    font-size: 50%;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  color: #212529;
  background-image: url(./i-like-food.svg);
  background-color: #495057;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.5);
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  padding: 3rem 5rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: $bp-tablet) {
    padding: 2rem;
    margin: 1rem;
    line-height: 1.2;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: 500;
  }

  &__label {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  &__input {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    width: 70%;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;

    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }

    &--text {
      cursor: text;
    }
  }
}

.btn {
  width: 30%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in;

  &:active {
    transform: translateY(0.2rem);
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
  }

  &:hover {
    color: #495057;
    filter: brightness(0.9);
  }
}

.timer-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem 3rem 5rem;
  text-align: center;
  margin: 1rem;

  @media only screen and (max-width: $bp-tablet) {
    padding: 2rem 1rem;
  }
}

.timer-title {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.timer {
  list-style: none;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  gap: 1rem 4rem;
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp-tablet) {
    gap: 1rem 3rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 300;
  }

  &__nb {
    font-size: 8rem;
    font-weight: 500;
  }
}
